/* You can override SASS variables here. */
$brand-green-lighter: #37AE9D;

$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;

$brand-red-darkest: #AB2600;
$brand-red-dark: #DA3505;
$brand-red-main: #FD5828;
$brand-red-lighter: #FF7750;
$brand-red-lightest: #FF987A;

$brand-orange-main: #FDB128;
$brand-orange-lighter: #FFC150;
$brand-orange-lightest: #F2C94C;
$brand-orange-fade: #FFD486;

$brand-yellow-main: #FDE528;
$brand-yellow-lighter: #FFEB50;
$brand-yellow-lightest: #FFF07A;
$brand-yellow-fade: #FFF186;

$brand-blue-darkest: #0A3071;
$brand-blue-darker: #104091;
$brand-blue-main: #2857A8;
$brand-blue-lighter: #456EB5;
$brand-blue-light: #6B8ECB;

$brand-violet-darkest: #210D76;
$brand-violet-dark: #2D1597;
$brand-violet: #452EAF;
$brand-violet-lighter: #5F4BBB;
$brand-violet-fade: #8170CF;

$brand-green-darkest: #006B5D;
$brand-green-dark: #038977;
$brand-green: #199F8C;
$brand-green-lighter: #37AE9D;
$brand-green-lightest: #5EC5B7;

// @import "plugins/dark";
