<div class="container-first-page markdown">
    <div class="grid-container">
        {{ range ( where $.Site.Pages.ByWeight "Params.Menu" "==" "main" ) }}
            {{ $productTitle := .Params.productMenuTitle }}
            {{ $productLogo := .Params.product_logo }}
            {{ $productSubTitle := .Params.product_subtitle }}
            {{ $productDescription := .Params.product_description }}
            {{ $productLink := .RelPermalink }}

            {{ $repo := "" }}
            {{ if .FirstSection.Params.repository  }}
                {{ $repo = lower .FirstSection.Params.repository }}
            {{ else }}
                {{ $repo = lower .FirstSection.Title }}
            {{ end }}

            <div class="flex flex-col">
                <div class="product-head">
                    <a href="{{ $productLink }}" class="flex align-center">
                        {{ if $productLogo }}
                            <img src="{{ $productLogo }}" alt="{{ $productTitle }}">
                        {{ end }}

                        <div>
                            <h2 class="product-head-title">{{ $productTitle }}</h2>
                            <div class="product-head-git">
                                <div id="last_{{ $repo }}_commit" class="product-head-git-commit"></div>
                                <div id="last_{{ $repo }}_release" class="product-head-git-release"></div>

                                <script>
                                    get_github_info({{ $repo }});
                                </script>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="second-title">
                    {{ $productSubTitle | safeHTML }}
                </div>

                <div class="product-lists">
                    {{ $productDescription | safeHTML }}
                </div>

                <div class="btn-wrapper mt-auto">
                    <a href="{{ $productLink }}" class="cl-button-primary bg-ghost-links cl-width-extend">Let's go!</a>
                </div>
            </div>
        {{ end }}

        <div>
            <div class="img-item">
                <img src="/felix-docserver-main.jpg" alt="Felix">
            </div>
        </div>
    </div>
</div>
