<div class="container-first-page markdown">
    <div class="grid-container">
        {{ range ( where $.Site.Pages.ByWeight "Params.Menu" "==" "main" ) }}
            {{ $productTitle := .Params.productMenuTitle }}
            {{ $productLogo := .Params.product_logo }}
            {{ $productSubTitle := .Params.product_subtitle }}
            {{ $productDescription := .Params.product_description }}
            {{ $productLink := .RelPermalink }}

            <div class="flex flex-col">
                <div class="product-head">
                    <a href="{{ $productLink }}" class="flex">
                        {{ if $productLogo }}
                            <img src="{{ $productLogo }}" alt="{{ $productTitle }}">
                        {{ end }}

                        <h2>{{ $productTitle }}</h2>
                    </a>
                </div>

                <div class="second-title">
                    {{ $productSubTitle | safeHTML }}
                </div>

                <div class="product-lists">
                    {{ $productDescription | safeHTML }}
                </div>

                <div class="btn-wrapper mt-auto">
                    <a href="{{ $productLink }}" class="cl-button-primary bg-ghost-links cl-width-extend">Let's go!</a>
                </div>
            </div>
        {{ end }}

        <div>
            <div class="img-item">
                <img src="/felix-docserver-main.jpg" alt="Felix">
            </div>
        </div>
    </div>
</div>
